* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
    background-color: #FFF8ED;
    display: grid;
    grid-template-columns: 1fr 1fr 24% 28%;
    grid-template-rows: 1fr 1fr 12% 24%;

    grid-template-areas: "left-top left-top mid-top right-top"
                         "left-top left-top mid-mid right-top"
                         "left-bottom mid-bottom mid-bottom right-top"
                         "left-bottom mid-bottom mid-bottom right-bottom"
    ;
    grid-gap: 10px;
    padding: 10px;
}
.box {
    border-radius: 20px;
    text-align: center;
    padding-top: 7.7rem;
    font-size: 3.2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF8ED;
}
#box1 {
    /* background-color: darkolivegreen; */
    background-image: url(https://images.unsplash.com/photo-1718202248232-0cdbc15d29b2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    grid-area: left-top;
}
#box2 {
    background-image: url(https://images.unsplash.com/photo-1670248012895-1cd8139bf32c?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    background-color: rgb(51, 55, 45);
    grid-area: mid-top;
}
#box3 {
    background-image: url(https://images.unsplash.com/photo-1531564701487-f238224b7ce3?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 0;
    background-color: darkblue;
    grid-area: right-top;
}
#box4 {
    background-image: url(https://plus.unsplash.com/premium_photo-1682339539425-7380649a0864?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-color: rgb(56, 47, 107);
    grid-area: mid-mid;
}
#box5 {
    background-image: url(https://images.unsplash.com/photo-1592899677977-9c10ca588bbd?q=80&w=2129&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-color: rgb(107, 94, 47);
    grid-area: left-bottom;
}
#box6 {
    background-image: url(https://plus.unsplash.com/premium_photo-1670760617758-3fda8754446b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    background-color: rgb(107, 78, 47);
    grid-area: mid-bottom;
    font-size: 2em;
    color: darkolivegreen;
}
#box7 {
    background-image: url(https://www.pantone.com/media/magefan_blog/pantone-the-marvelous-mrs-maisel-joel-maisel-color-palette-article-thumbnail.jpg);
    background-size: cover;
    background-position: top;
    background-color: rgb(107, 47, 61);
    grid-area: right-bottom;
}